doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Document
    link(href='list.css', rel='stylesheet')
  body
    h3 Songs on The Beatles - Sgt. Pepper&apos;s Lonely Hearts Club Band (1967)
    div
      form(action='/', method='post')
        input(type='text' name="songTitle")
        button(type='submit') Add Song
      ul
        each song in songs
          li= song